<!DOCTYPE html>
<html lang="pt-br" ng-app="MarketView">
<head>
    <meta charset="UTF-8">
    <title>MarketView</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <script src="app/libs/jquery-1.11.3.js"></script>
    <script src="app/libs/angular.min.js"></script>
    <script src="app/libs/angular-ui-router.min.js"></script>
    <script src="app/libs/foundation.min.js"></script>
    <script src="app/app.js"></script>

    <!-- STYLES -->
    <link rel="stylesheet" href="assets/css/foundation.min.css" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/app.css" />

    <!-- CONFIGS -->
    <script src="app/config/AppRouteConfig.js"></script>

    <!-- CONTROLLERS -->
    <script src="app/controllers/HomeCtrl.js"></script>
    <script src="app/controllers/LojasCtrl.js"></script>
    <script src="app/controllers/ProdutosCtrl.js"></script>
    <script src="app/controllers/ConfiguracoesCtrl.js"></script>
</head>
<!-- APPLICATION -->
<body ng-controller="HomeCtrl">
    <nav>
        <ul id="mainmenu">
            <li ng-repeat="menu in menus">
                <a ui-sref="{{menu.link}}">
                    {{menu.name}}
                </a>
            </li>
        </ul>
    </nav>
    <div ui-view="main">
        <!-- APPLICATION CONTENT -->
    </div>
</body>
</html>